@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

/* Estilização do Swiper */
.obras-carousel .swiper-button-next,
.obras-carousel .swiper-button-prev {
  color: #e42329;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.obras-carousel .swiper-button-next::after,
.obras-carousel .swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}

.obras-carousel .swiper-pagination-bullet {
  background: #e42329;
  width: 12px;
  height: 12px;
  opacity: 0.5;
}

.obras-carousel .swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.2);
}
